<apex:page >
    <script>
        var strURL = "{!$Label.CRM_CP_PowerBI_app_URL}";
    </script>
    <!--<body onload="sforce.one.navigateToURL('mspbi://app/OpenReport?ReportObjectId=12d27bee-06fa-4963-ad9d-e5221572aaad&GroupObjectId=49df9da1-f5ea-48cf-b13c-728a3fbe157e&reportPage=ReportSection124bd0ea33a0d0c7c8b5');"/>-->
    <body onload="sforce.one.navigateToURL(strURL);"/>  
</apex:page>